
{% extends "base-site.html" %}

{% block title %} Admin {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/assets/css/querystyle.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock stylesheets %}

{% block content %}
<div class="tablepad">
    <div class="container">
<br>
{% if message %}
            <script>
            Swal.fire({       position: 'top-end',
                              icon: 'success',
                              background: '#555555',
                              width: 300,
                              scrollbarPadding: 'false',
                              title: '<h5><strong style="color:#fff;font-weight:bold;">{{message}}</strong></h5>',
                              showConfirmButton: false,
                              timer: 2500
                            });
            </script>
{% endif %}

        {% if errormessage %}
            <script>
            Swal.fire({       position: 'top-end',
                              background: '#555555',
                              width: 300,
                              scrollbarPadding: 'false',
                              icon: 'error',
                              title: '<h5><strong style="color:#fff;font-weight:bold;">{{errormessage}}</strong></h5>',
                              showConfirmButton: false,
                              timer: 2500
                            });
            </script>
        {% endif %}
<div class="container">

    <div class="row">
        <div class="col-md-4">
            <form method="post" style="margin-bottom: 10px;" action="/dmaupload" enctype="multipart/form-data">
            <input type="file" accept=".csv" name="dmafile" required>
            <input type="submit" class="btn btn-block" style="min-width: 130px;margin-top:15px;width:60%" value="Upload DMA UFW">
            </form>
        </div>
        <div class="col-md-4">
            <form method="post" style="margin-bottom: 10px;" action="/flowupload" enctype="multipart/form-data">
            <input type="file" accept=".csv" name="flowfile" required>
            <input type="submit" class="btn btn-block" style="min-width: 130px;margin-top:15px;width:60%" value="Upload Flow">
            </form>
        </div>
        <div class="col-md-4">
            <form method="post"  action="/alertupload" enctype="multipart/form-data">
            <input type="file" accept=".csv" name="alertfile" required>
            <input type="submit" class="btn btn-block" style="min-width: 130px;margin-top:15px;width:60%" value="Upload alert">
            </form>
        </div>
    </div>

</div>
</div>
</div>

<div class="container">
        <div class="row" style="margin-top:50px;">
            <div class="col-md-6" style="padding:10px;">
                <div style="background-color:white;overflow:auto;width:99%;height:400px;padding:10px;margin:auto;padding:20px;border-radius:16px;border:outline 2px;">
                   <table id="example4" class="display table responsive" style="width:100%">
    <thead>
        <tr>
            <th>Id </th>
            <th>Dma Id </th>
            <th>AreaName</th>
            <th>boundary1 </th>
            <th>boundary2 </th>
            <th>boundary3 </th>
            <th>boundary4 </th>
            <th>areacolor </th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>
    {% for dmalist in dmalists %}
        <tr>
            <td>{{dmalist.id}}</td>
            <td>{{dmalist.dma_id}}</td>
            <td>{{dmalist.areaname}}</td>
            <td>{{dmalist.boundary1}}</td>
            <td>{{dmalist.boundary2}}</td>
            <td>{{dmalist.boundary3}}</td>
            <td>{{dmalist.boundary4}}</td>
            <td>{{dmalist.areacolor}}</td>
            <td><a href="/dmalistdelete/{{dmalist.id}}"><button class="btn btn-block" style="background-color: #555555;color:white; font-weight: bold;">DELETE</button></a></td>
        </tr>
    {%endfor%}
     </tbody>
</table>

       </div>


                <div style="width:50%;margin:auto;">
                    <input id="myBtn" type="submit" class="btn btn-block" style="margin-top:15px;width:60%;min-width: 130px;" value="New DMA">
                </div>
            </div>

            <div class="col-md-6" style="padding:10px;">
                <div style="background-color:white;width:99%;height:400px;margin:auto;padding:20px;border-radius:16px;border:outline 2px;overflow:auto;">
                   <table id="example3" class="display table responsive" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id </th>
                                <th>Station Id </th>
                                <th>Dma Id</th>
                                <th>Station Name </th>
                                <th>Line Identifier </th>
                                <th>Station Type </th>
                                <th>Delete </th>

                            </tr>
                        </thead>
                        <tbody>
                        {% for stationlist in stationlists %}
                            <tr>
                                <td>{{stationlist.id}}</td>
                                <td>{{stationlist.station_id}}</td>
                                <td>{{stationlist.dma_id}}</td>
                                <td>{{stationlist.station_name}}</td>
                                <td>{{stationlist.lineidentifier}}</td>
                                <td>{{stationlist.station_type}}</td>
                                <td><a href="/stationlistdelete/{{stationlist.id}}"><button class="btn btn-block" style="background-color: #555555;color:white; font-weight: bold;">DELETE</button></a></td>
                            </tr>
                        {%endfor%}
                         </tbody>
                    </table>
                </div>
                <div style="width:50%;margin:auto;">
                    <input id="myBtn2" type="submit" class="btn btn-block" style="min-width: 130px;margin-top:15px;width:60%" value="New Station">
                </div>
            </div>

        </div>
</div>

<div class="container">

<div id="id01" class="modal">

  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal"></span>
<div class="container modal-content">
      <center><h3>Add New DMA</h3>
      <p>Fill The Details Below</p>
      </center>
  <form id ="jsonform" method="post" action="/dmalistadd" style="margin-left:30px;margin-right-35px;margin-top:8px;margin-bottom:8px;">
<div id="czContainer">
     <div id="first">
        <div class="recordset">
    <div id="container1" class="clonedInput">

         <div class="row">
             <div class="col-25">
             <label for="dmaid_1_">dma_id :</label>
             </div>
             <div class="col-75">
             <input type="text" id="dmaid_1_" name="dma_id" value="" autofocus required>
             </div>
         </div>
         <div class="row">
             <div class="col-25">
             <label for="area_1_">areaname :</label>
             </div>
             <div class="col-75">
             <input type="text" id="area_1_" name="areaname"  value="" required>
             </div>
         </div>

         <div class="row">
             <div class="col-25">
             <label for="boundary1_1_">boundary1 :</label>
             </div>
             <div class="col-75">
             <input type="text" id="boundary1_1_" name="boundary1"  value="" required>
             </div>
         </div>

         <div class="row">
             <div class="col-25">
             <label for="boundary2_1_">boundary2 :</label>
             </div>
             <div class="col-75">
             <input type="text" id="boundary2_1_" name="boundary2"  value="" required>
             </div>
         </div>

         <div class="row">
             <div class="col-25">
             <label for="boundary3_1_">boundary3 :</label>
             </div>
             <div class="col-75">
             <input type="text" id="boundary3_1_" name="boundary4"  value="" required>
             </div>
         </div>

         <div class="row">
             <div class="col-25">
             <label for="boundary4_1_">boundary4 :</label>
             </div>
             <div class="col-75">
             <input type="text" id="boundary4_1_" name="boundary3"  value="" required>
             </div>

       </div>
        <div class="row">
             <div class="col-25">
             <label for="areacolor_1_">areacolor :</label>
             </div>
             <div class="col-75">
             <input type="text" id="areacolor_1_" name="areacolor"  value="" required>
             </div>
       </div>

          <div id="datastring_1_">
          </div>
        <hr>
</div></div></div>
          <hr>
</div>
    <div class="clearfix">
        <button type="button" onclick="cancelfunction()" class="cancelbtn">Cancel</button>
        <button type="submit" onclick="completefunction()" class="completebtn">Complete</button>
    </div>
<script>
function cancelfunction() {
  document.getElementById('id01').style.display='none';
}
function completefunction() {
  document.getElementById('id01').style.display='none';
}
</script>

  </form>
    </div>
</div>
</div>
<script>
// Get the modal
var modal = document.getElementById('id01');

var btn = document.getElementById("myBtn");

// When the user clicks the button, open the modal
btn.onclick = function(e) {
  e.preventDefault();
  modal.style.display = "block";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>


<div class="container">

<div id="id02" class="modal">

  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal"></span>
<div class="container modal-content">
      <center><h3>Add New Station</h3>
      <p>Fill The Details Below</p>
      </center>
  <form id ="jsonform2" method="post" action="/stationlistadd" style="margin-left:30px;margin-right-35px;margin-top:8px;margin-bottom:8px;">
<div id="czContainer2">
     <div id="first2">
        <div class="recordset">
    <div id="container2" class="clonedInput">

         <div class="row">
             <div class="col-25">
             <label for="station_id_1_">station_id :</label>
             </div>
             <div class="col-75">
             <input type="text" id="station_id_1_" name="station_id" value="" autofocus required>
             </div>
         </div>
         <div class="row">
             <div class="col-25">
             <label for="dma_id_1_">dma_id :</label>
             </div>
             <div class="col-75">
             <input type="text" id="dma_id_1_" name="dma_id"  value="" required>
             </div>
         </div>

         <div class="row">
             <div class="col-25">
             <label for="station_name_1_">station_name :</label>
             </div>
             <div class="col-75">
             <input type="text" id="station_name_1_" name="station_name"  value="" required>
             </div>
         </div>

         <div class="row">
             <div class="col-25">
             <label for="lineidentifier_1_">lineidentifier :</label>
             </div>
             <div class="col-75">
             <select  id="lineidentifier_1_" class="dropdownoption" name="lineidentifier" required>
                 <option value="line1" title="line1">line1</option>
                 <option value="line2" title="line2">line2</option>
                 <option value="line3" title="line3">line3</option>
                 <option value="line4" title="line4">line4</option>
             </select>
             </div>
         </div>

         <div class="row">
             <div class="col-25">
             <label for="station_type_1_">station_type :</label>
             </div>
             <div class="col-75">
             <select  id="station_type_1_" class="dropdownoption" name="station_type" required>
                 <option value="type1" title="type1">type1</option>
                 <option value="type2" title="type2">type2</option>
                 <option value="type3" title="type3">type3</option>
                 <option value="type4" title="type4">type4</option>
             </select>
             </div>
         </div>

        <div class="row">
             <div class="col-25">
             <label for="latitude">latitude :</label>
             </div>
             <div class="col-75">
             <input type="text" id="latitude" name="latitude"  value="" required>
             </div>
         </div>

        <div class="row">
             <div class="col-25">
             <label for="longitude">longitude :</label>
             </div>
             <div class="col-75">
             <input type="text" id="longitude" name="longitude"  value="" required>
             </div>
         </div>
          <div id="datastring2_1_">
          </div>
        <hr>
</div></div></div>
          <hr>
</div>
    <div class="clearfix">
        <button type="button" onclick="cancelfunction2()" class="cancelbtn">Cancel</button>
        <button type="submit" onclick="completefunction2()" class="completebtn">Complete</button>
    </div>
<script>
function cancelfunction2() {
  document.getElementById('id02').style.display='none';
}
function completefunction2() {
  document.getElementById('id02').style.display='none';
}
</script>

  </form>
    </div>
</div>
</div>
<script>
// Get the modal
var modal2 = document.getElementById('id02');

var btn2 = document.getElementById("myBtn2");

// When the user clicks the button, open the modal
btn2.onclick = function(e) {
  e.preventDefault();
  modal2.style.display = "block";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal2.style.display = "none";
  }
}
</script>
{% endblock %}
{% block javascripts %}{% endblock javascripts %}