{% extends "base-site.html" %}

{% block title %} Flow TABLE {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="tablepad">
    <div class="">
<br><br>


<table id="example" class="display table responsive " style="background:unset;width:100%">
    <thead style="margin:auto;">
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Station Id</th>
            <th>Dma Id</th>
            <th>Alert Reason</th>
            <th>Remarks</th>
            <th>Alert Type</th>
        </tr>
    </thead>
    <tbody>
    {% for alert in alerts %}
        <tr>
            <td>{{alert.id}}</td>
            <td>{{alert.date}}</td>
            <td>{{alert.station_id}}</td>
            <td>{{alert.dma_id}}</td>
            <td>{{alert.alert_reason}}</td>
            <td>{{alert.remarks}}</td>
            <td>{{alert.alert_type}}</td>
        </tr>
    {%endfor%}
     </tbody>
</table>
</div>
</div>
{% endblock %}
{% block javascripts %}
{% endblock javascripts %}