<!doctype html>
{% load static%}
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="/static/assets/img/favicon.png" />

    <title>
      Bot Management - {% block title %}{% endblock %}
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
    <meta name="description" content="Water Department know info status about flow of water and maintenance.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="{% static 'css/shards-dashboards.1.1.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/extras.1.1.0.min.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/rowreorder/1.2.6/css/rowReorder.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">

    <script async defer src="https://buttons.github.io/buttons.js"></script>
<!--    <link rel="stylesheet" type="text/css" href="/static/assets/css/style.css">-->
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

<!--    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>-->
    {% block stylesheets %}{% endblock stylesheets %}
  </head>
  <body class="h-100">

    {% include 'site_template/color-switcher.html' %}

    <div class="container-fluid">
      <div class="row">

        {% include 'site_template/sidebar.html' %}

        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3" style="background-color: #f5f6f8;">

          {% include 'site_template/navigation.html' %}
          <div class="main-content-container container-fluid px-4" style="background-color:#f5f6f8;">
<!--          <div class="container-fluid">-->
          {% block content %}{% endblock content %}
          </div>
          {% include 'site_template/footer.html' %}

        </main>
      </div>
    </div>
    {% include 'site_template/scripts.html' %}
    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

  </body>
</html>
