{% extends "base-site.html" %}
{% load static %}
{% block title %} Create Bot {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
 <style type="text/css">
      #map {
        height: 900px;
        width: 100%;
      }
    </style>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
{% endblock stylesheets %}

{% block content %}





<div class="container" style="margin-bottom:40px;" align="center">
    <div class="utitle" style="margin:20px 0px 20px 0px;">
        <h3 style="color:#0000009c;font-style:Bold">Create Chatbot</h3></div>
    <div class="uform">
    <form method="post" action="/createchatbot/">
        <label>User Name</label><input type="text" name="username" value="{{user.username}}" readonly required ><br>

        <label>Chatbot Name</label><input type="text" name="ch_name" title="unique" placeholder="unique" required><br>
        <label>Access Token</label><input type="text" name="as_token" required><br>
        <label>Validation Token</label><input type="text" name="vd_token" required><br>
        <label>Api Key</label><input type="text" style="margin-bottom:20px;" name="api_key" required><br>


        {% csrf_token %}
        <input  type="submit" class="btn" value="Add Chatbot" >
    </form>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
