{% extends "base-site.html" %}

{% block title %} DMA TABLE {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="tablepad">
    <div class="">
<br><br>


<table id="example" class="display table responsive " style="background:unset;width:100%">
    <thead>
        <tr>
            <th>Id </th>
            <th>Dma Id</th>
            <th>Year & Month </th>
            <th>Meters Read </th>
            <th>Read Period </th>
            <th>Avg Read Days </th>
            <th>Inflow </th>
            <th>Consumption </th>
            <th>Ufw </th>
            <th>UfwPer </th>
        </tr>
    </thead>
    <tbody>
    {% for dma in dmas %}
        <tr>
            <td>{{dma.id}}</td>
            <td>{{dma.dma_id}}</td>
            <td>{{dma.year_month}}</td>
            <td>{{dma.read_meters}}</td>
            <td>{{dma.read_period}}</td>
            <td>{{dma.avg_read_days}}</td>
            <td>{{dma.inflow}}</td>
            <td>{{dma.consumption}}</td>
            <td>{{dma.ufw}}</td>
            <td>{{dma.ufwper}}</td>

<!--            <td>-->
<!--                <a href="/edit/><button class="btn" style="background-color: #555555;color:white; font-weight: bold; padding-left:25px;padding-right:25px;">EDIT</button></a>-->
<!--            </td>-->
<!--            <td><a href="/delete/><button class="btn" style="background-color: #555555;color:white; font-weight: bold;">DELETE</button></a></td>-->
        </tr>
    {%endfor%}
     </tbody>
</table>
</div>
</div>
{% endblock %}
{% block javascripts %}
{% endblock javascripts %}