{% extends "base-site.html" %}
{% load static %}
{% block title %} Edit Bot {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
 <style type="text/css">
      #map {
        height: 900px;
        width: 100%;
      }
    </style>
    <link rel="stylesheet" href="{% static "css/style.css" %}">


{% endblock stylesheets %}

{% block content %}





<div class="container" style="margin-bottom:40px;" align="center">
    <div class="utitle" style="margin:20px 0px 20px 0px;">
        <h3 style="color:#0000009c;font-style:Bold">Update Chatbot</h3></div>
    <div class="uform">
    <form method="post" action="/botupdate/{{emp.id}}">
<!--        <input type="hidden" name="id" value="{{emp.id}}">-->
        <label>User Name</label><input type="text" name="username" value="{{emp.User_name}}" readonly required ><br>

        <label>Chatbot Name</label><input type="text" name="ch_name" value="{{emp.Chatbot_name}}" title="Unique name" placeholder="Unique Name" autofocus required><br>
        <label>Access Token</label><input type="text" name="as_token" value="{{emp.Acess_token}}" required><br>
        <label>Validation Token</label><input type="text" name="vd_token" value="{{emp.Validation_token}}" required><br>
        <label>Api Key</label><input style="margin-bottom:20px;" type="text" name="api_key"  value="{{emp.Api_key}}"required><br>


        {% csrf_token %}
        <div class="row" style="margin-top:20px;">
            <div class="col-md-6">
        <input style="float:right" type="submit" class="btn" value="Update" ></div>
    <div class="col-md-6">
        <button type="button" style="font-weight:bold;float:left;padding: 10px 20px;border-radius: 3px;color:white;background-color:#555555" class="btn" id="delbtn">delete</button></div>
            </div>
    </form>

    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
document.getElementById("delbtn").addEventListener("click",function(event){
event.preventDefault()

    Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
window.location.replace("/botdelete/{{emp.id}}/");

    Swal.fire(
      'Deleted!',
      'Your file has been deleted.',
      'success'
    )
  }
})

    });
</script>
{% endblock javascripts %}
