{% extends "base-site.html" %}

{% block title %} Flow Map {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<script src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&callback=initMap&libraries=&v=weekly" defer></script>
 <style type="text/css">
      #map {
        height: 900px;
        width: 100%;
      }
      table{
      padding:5px;
      width:100%;
      }
    </style>
{% endblock stylesheets %}

{% block content %}

<div style="width:100%;margin:auto;margin-top:10px;margin-bottom:5px">
     <h3 style="margin-bottom:20px;">Flow Map</h3>
        {%if stationlist == []%}
        <h2 style="color:red;">No Entries Available.</h2>
        {%endif%}
        {% if current_user.isadmin == 'false' %}
        <h2 style="color:red;">Please Contact Admin.</h2>
        {%endif%}

    <div class="row" style="font-size:22px;margin-bottom:5px;">

        {% for data in linetype %}
        <div class="col-md-3 col-sm-2" style="max-width:50%"><input style="cursor:pointer;" id="check{{ loop.index }}" class="css-checkbox" type="checkbox" name="checkbox{{ loop.index }}" checked><label style="cursor:pointer;font-size:20px;" class="css-label" for="check{{ loop.index }}"><span style="position:absolute;top:3px;">&nbsp;{{data[0].upper()}}</span></label></div>
        {% endfor %}

    </div>

    <div class="row" style="font-size:22px;margin-bottom:5px;">

        {% for data in stationtype %}
        <div class="col-md-3 col-sm-2" style="max-width:50%;margin-bottom:20px;"><input style="cursor:pointer;" id="checkstation{{ loop.index }}" class="css-checkbox" type="checkbox" name="checkstation{{ loop.index }}" checked><label style="cursor:pointer;font-size:20px;" class="css-label" for="checkstation{{ loop.index }}"><span style="position:absolute;top:3px;">&nbsp;{{data[0].upper()}}<img src="/static/assets/img/markers/location{{loop.index}}.png"></span></label></div>
        {% endfor %}

    </div>

    <!--The div element for the map -->
    <div style="margin-top:10px;" id="map"></div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{%if newuser%}
            <script>
            Swal.fire({       position: 'top-end',
                              background: '#555555',
                              width: 300,
                              scrollbarPadding: 'false',
                              icon: 'success',
                              title: '<h5><strong style="color:#fff;font-weight:bold;">New {{newuser}} Added Successfully</strong></h5>',
                              showConfirmButton: false,
                              timer: 2500
                            });
            </script>
{%endif%}
  <script src="/static/assets/js/app/app-blog-overview.1.1.0.js"></script>

 <script>
      let flightPath;
      let map;
      function initMap() {

        {% for data in stationlist %}
         area = { lat: {{data.latitude}}, lng: {{data.longitude}} };
        {% endfor %}

        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 11,
          center: area,
        });
        var marker, i;
        var infowindow = new google.maps.InfoWindow({maxWidth: 600, minWidth: 450 });

{% set countst = namespace(value=0) %}

{% for data in stationtype %}
{% set outer_loop = loop %}
{% set testings = mydict2["list"][loop.index] %}

{% for testing in testings %}
{% set data = stationdata[countst.value] %}

   marker{{outer_loop.index}}{{ loop.index }} = new google.maps.Marker({
        position: new google.maps.LatLng({{testing.latitude}},  {{testing.longitude}}),
        map: map,
        icon: '/static/assets/img/markers/location{{outer_loop.index}}.png'
      });
       google.maps.event.addListener(marker{{outer_loop.index}}{{ loop.index }}, 'click', (function(marker{{outer_loop.index}}{{ loop.index }}, i) {
        return function() {

          infowindow.setContent("<table border=2><thead><tr><th>Id</th><th>Measurement Type</th><th>Station Id</th><th>Date</th><th>Flow</th></tr></thead><tbody>  \
            {% for pop in data %}  \
            <tr><td>{{pop.id}}</td> \
            <td>{{pop.measurementType}}</td> \
            <td>{{pop.station_id}}</td> \
            <td>{{pop.date}}</td> \
            <td>{{pop.flow}}</td> \
            </tr> \
            {%endfor%} \
            Station name : {{testing.station_name}} \
            </tbody></table> \
            <img width=499px src=\"/static/graphs/stn_{{testing.station_id}}.jpg?{{ range(10000, 99999) | random }}\">\
          ");
          infowindow.open(map, marker{{outer_loop.index}}{{ loop.index }});
        }
      })(marker{{outer_loop.index}}{{ loop.index }}, i));
      {% set countst.value = countst.value + 1 %}

{% endfor %}
{% endfor %}

{% for data in stationtype %}
{% set outer_loop = loop %}
{% set testings = mydict2["list"][loop.index] %}
var checkstation{{loop.index}} = document.querySelector("input[name=checkstation{{loop.index}}]");


checkstation{{loop.index}}.addEventListener( 'change', function() {
    if(this.checked) {
        // Checkbox is checked..
        {% for testing in testings %}
        marker{{outer_loop.index}}{{ loop.index }}.setMap(map);
        {% endfor %}
    } else {
        // Checkbox is not checked..
        {% for testing in testings %}
        marker{{outer_loop.index}}{{ loop.index }}.setMap(null);
        {% endfor %}
    }
});
{% endfor %}

  {% set count = namespace(value=0) %}
{% set colors = ['blue','red','green','pink','purple','green'] %}
{% for data in linetype %}
{% set testings = mydict["list"][loop.index] %}

const flightPlanCoordinates{{ loop.index }} = [
{% for testing in testings %}
    { lat: {{testing.latitude}}, lng: {{testing.longitude}} },
{% endfor %}
  ];

  const flightPath{{ loop.index }} = new google.maps.Polyline({
    path: flightPlanCoordinates{{ loop.index }},
    geodesic: true,
    strokeColor: getRandomColor(),
    {% set count.value = count.value + 1 %}
    strokeOpacity: 1.0,
    strokeWeight: 3,
  });
flightPath{{ loop.index }}.setMap(map);
{% endfor %}


{% for data in linetype %}
var checkbox{{loop.index}} = document.querySelector("input[name=checkbox{{loop.index}}]");


checkbox{{loop.index}}.addEventListener( 'change', function() {
    if(this.checked) {
        // Checkbox is checked..
        flightPath{{loop.index}}.setMap(map);
    } else {
        // Checkbox is not checked..
        flightPath{{loop.index}}.setMap(null);
    }
});
{% endfor %}

};

function getRandomColor() {
  var letters = '0123456789ABCDEF';
  var color = '#';
  for (var i = 0; i < 6; i++) {
    color += letters[Math.floor(Math.random() * 16)];
  }
  return color;
}
</script>

{% endblock javascripts %}
