{% extends "base-site.html" %}

{% block title %} Flow TABLE {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="tablepad">
    <div class="">
<br><br>


<table id="example" class="display table responsive " style="background:unset;width:100%">
    <thead style="margin:auto;">
        <tr>
            <th>Id</th>
            <th>Measurement Type</th>
            <th>Station Id</th>
            <th>Date</th>
            <th>Flow</th>
        </tr>
    </thead>
    <tbody style="margin:auto;">
    {% for flow in flows %}
        <tr>
            <td>{{flow.id}}</td>
            <td>{{flow.measurementType}}</td>
            <td>{{flow.station_id}}</td>
            <td>{{flow.date}}</td>
            <td>{{flow.flow}}</td>


        </tr>
    {%endfor%}
     </tbody>
</table>
</div>
</div>
{% endblock %}
{% block javascripts %}
{% endblock javascripts %}