{% extends "base-site.html" %}

{% block title %} HOME {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
 <style type="text/css">
      #map {
        height: 900px;
        width: 100%;
      }

    </style>
{% endblock stylesheets %}

{% block content %}
<div class="utitle" style="margin:20px 0px 20px 0px;">
<h3 style="font-style:Bold">Manage Chatbot</h3>
</div>
<div class="container">
    <div class="row">
{% for s in us%}
    <div class="col-md-3" style="border-style: double;margin:auto;width:0px;background-color:#fff;height:160px;">
    <center>
    <h4 style="font-style:bolder;margin-top:28px;">{{s.Chatbot_name}}</h4>
    </center>
        <div class="row">
            <div class="col-md-6">
                <button style="float:right;"><a href="/botedit/{{s.id}}"/>Edit</button>
            </div>
            <div class="col-md-6">
                <button style="float:left;"><a href="/startbot/"></a>Start</button>
            </div>
        </div>
    </div>

    {% endfor %}
        </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
