{% extends "base-site.html" %}

{% block title %} Profile {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}
{% block content %}


<div class="">
    <div class="">
<br>
<br>
        <div>
            <h6 style="background-color: #fff;font-weight: bold;margin-left:6px;padding :8px;">
                <span><a href="/dashboard" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">HOME </a></span>
                <span><a href="#" style="color:BLACK;"> / </a></span>

                <span><a href="/profile" onMouseOver="this.style.color='red'"
        onMouseOut="this.style.color='#555555'" style="color:#555555">PROFILE </a></span>

            </h6>
        </div>

        {% if updated %}
            <script>
            Swal.fire({       position: 'top-end',
                              background: '#555555',
                              width: 300,
                              scrollbarPadding: 'false',
                              icon: 'success',
                              title: '<h5><strong style="color:#fff;font-weight:bold;">Admin Details Updated Successfully</strong></h5>',
                              showConfirmButton: false,
                              timer: 2500
                            });
            </script>
        {% endif %}

<div class="uform">
    <form action="/editprofile/" method="post">
{% csrf_token %}
      <div class="row">
         <div class="col-25">
         <label>Admin ID :</label>
         </div>
         <div class="col-75">
         <input type="text" name="id" value="{{user.id}}" disabled>
         <input type="hidden" name="id" value="{{user.id}}">
         </div>
     </div>
    <div class="row">
        <div class="col-25">
        <label>Admin Name :</label>
        </div>
        <div class="col-75">
        <input type="text" name="username" value="{{user.username}}" placeholder="Enter Name" required>
        </div>
    </div>

    <div class="row">
         <div class="col-25">
         <label>Email :</label>
         </div>
         <div class="col-75">
         <input type="email" name="email" value="{{user.email}}" placeholder="Enter Email" required>
         </div>
    </div>

    <div class="row">
         <div class="col-25">
         <label>Password :</label>
         </div>
         <div class="col-75">
         <input type="text" name="password1" value="{{user.password}}" placeholder="Enter password" >
         </div>
    </div>
         <div class="row">
         <div class="col-25">
         <label>Re-Enter Password :</label>
         </div>
         <div class="col-75">
         <input type="text" name="password2" value="{{user.password2}}" placeholder="Enter password" >
         </div>
    </div>
    <br>
    <center>
        <input type="submit" name="update" value="Update">
        <a href="/admindelete/{{user.id}}"><button id="myBtn" style="padding:8px;color:black; border-radius:5px;">Delete Account</button></a>
       {% if current_user.isadmin == 'true' %}
        <a href="/backup"><button id="myBtn2" style="padding:8px;color:black; border-radius:5px;">Backup Database</button></a>
        {%endif%}
    </center>
    </form><br>
</div>
        {%if path12%}
<center><h4 id="backmsg" style="color:red;">Backup created in directory: {{path12}}</h4></center>
        <script>Swal.fire({       position: 'top-end',
                              background: '#555555',
                              width: 300,
                              scrollbarPadding: 'false',
                              icon: 'success',
                              title: '<h5><strong style="color:#fff;font-weight:bold;">Backup Created Successfully</strong></h5>',
                              showConfirmButton: false,
                              timer: 2500
                            });</script>
        {%endif%}
</div>
</div>

{% endblock %}
{% block javascripts %}
<script>
    var btn = document.getElementById("myBtn");

btn.onclick = function(e) {
  e.preventDefault();
  location.href = "/admindelete/{{user.id}}";
}

var btn2 = document.getElementById("myBtn2");

btn2.onclick = function(e) {
  e.preventDefault();
  location.href = "/backup";
}
</script>
{% endblock javascripts %}